body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
}

div {
   /* border: 1px solid red; */
}

div#head {
    display: grid;
    grid-template-rows: 1fr 8fr;
    padding: 0 15% 0 15%;
    background-color: #1f2937;
}

div#header {
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 10px 0 0 0;
}

div#header-links {
    text-align: right;

}

div#header-links ul > li {
    list-style: none;
    display: inline-block;
}

div#header-links ul > li > a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
    margin-left: 30px;
}

div#header-links ul {
    margin: 0;
}

div#header-logo h3 {
    margin: 0;
    color: #f9faf8;
    font-size: 24px;
}

div#head-content {
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 5% 0 5% 0;
    padding: 0;
}

div#head-content-text h1 {
    font-size: 48px;
    font-weight:bolder;
    color: #f9faf8;
    margin: 0;
}

div#head-content-text h2 {
    font-size: 18px;
    color: #e5e7eb;
    font-weight: 100;
    margin: 0;
    padding: 0;
}

div#head-content-text {
    padding: 0 5% 0 0;
    margin: 0;
}

div#head-content-text button {
    font-size: 18px;
    background-color: #3882f6;
    color: #e5e7eb;
    padding: 0 5% 0 5%;
    margin: 15px 0 0 0;
    border-radius: 6px;
    padding: 1px 3px 1px 3px;
    text-decoration: none;
}

div#head-content-img {
    display: table;
    background-color: gray;
    color: white;
    font-size: 18px;
}

div#head-content-img h3 {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    font-weight: 100;
}

div#quadros {
    display: grid;
    grid-template-rows: 1fr 2fr;
    padding: 0 15% 0 15%;
    background-color: rgba(236, 236, 236, 0.897);
    margin: 0;
    padding-bottom: 50px;
}

div#quadros-head {
    display: table;
    font-weight: bolder;
    text-align: center;
    padding: 20px;
}
div#quadros-head h1 {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    color: #1f2937;
    font-size: 36px;
}

div#quadros-quadrados {
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    justify-content: center;
}

div.quadrados {
    border: 5px solid #3882f6;
    border-radius: 10px;
    width: 170px;
    height: 170px;
}

div.quadradaos {
    display: grid;
    grid-template-rows: 175 auto;
    max-width: 175px;
 }

div.quadrados-desc {
    color: #1f2937;
    text-align: center;
}

div#comment {
    display: grid;
    grid-template-rows: 1fr auto;
    padding: 3% 30% 3% 30%;
    background-color: #e5e7eb;
}

div#commentary h3{
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
    margin: 0;
}

div#author {
    justify-self: right;
}

div#author h2{
    font-size: 18px;
    margin: 5px;
}

div#div4 {
    display: grid;
    grid-template-columns: 1fr;
    padding: 5% 15% 5% 15%;
    background-color: #ffffff;
}

div#caixa-azul {
    display: grid;
    grid-template-columns: 3fr 1fr;
    background-color: #3882f6;
    padding: 2% 10% 2% 10%;
    border-radius: 12px;
}

div#caixa-azul-text {
    margin: 0;  
}

div#caixa-azul-text h1{
    margin: 0;
    color: white;
    font-size: 18px;
}

div#caixa-azul-desc h2{
    margin: 0;
    color: white;
    font-size: 16px;
    font-weight: 100;
}

div#caixa-azul-button {
    display: grid;
}

div#caixa-azul-button button{
    background-color: #3882f6;
    color: white;
    border: 1px solid white;
    border-radius: 6px;
    padding: 1% 5% 1% 5%;
    width: 50%;
    height: 100%;
    justify-self: right;
}